.academy-coach {
  padding: 0 30px;
}

.section {
  margin-bottom: 50px;
}

.section h2 {
  margin: 30px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center; /* 가운데 정렬 */
}

th {
  background-color: #f4f4f4;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background: none;
  border: none;
  width: auto;
  margin: 0 2px;
  cursor: pointer;
  font-size: 20px;
  color: #a1a1a1;
}

.pagination button.active {
  font-weight: bold;
  color: black;
  border: none;
}

.pagination button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

td div {
  white-space: pre-wrap;
}
