.main-layout {
    display: flex;
  }
  
  .main-content {
    margin-left: 350px; /* 사이드바 너비만큼 왼쪽 여백 설정 */
    padding: 20px;
    width: 100%;
  }
  
  .top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed;
    right: 3%;
  }
  
  .top-bar span {
    margin-right: 20px;
    font-size: 20px;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  
  .top-bar button {
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
  }
  