.notices {
  padding: 0 30px;
}

.notices h1 {
  margin-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

td {
  vertical-align: top;
}

.benefit {
  color: #888;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background: none;
  border: none;
  width: auto;
  margin: 0 2px;
  cursor: pointer;
  font-size: 20px;
  color: #a1a1a1;
}

.pagination button.active {
  font-weight: bold;
  color: black;
  border: none;
}

.pagination button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

td div {
  white-space: pre-wrap;
}
