.reservations {
  padding: 0 30px;
}

.section {
  margin-bottom: 50px;
}

.section h2 {
  margin: 20px 0;
}

.section div {
  display: flex;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

.status-before-use {
  color: #FF5833;
}

.status-using {
  color: green;
}

.status-complete {
  color: #9D9D9D;
  text-decoration: none;
  pointer-events: none;
}

.not-allowed {
  color: #9D9D9D;
  font-size: 16px;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Content {
  padding: 20px;
  max-width: 1200px;
  max-height: 70vh;
  height: auto;
  margin: auto;
  background: white;
  border-radius: 4px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 24px;
  display: inline-block;
  margin-right: 10px;
}

.modal-content h3 {
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 10px; /* 예약 내역과 테이블 사이의 간격 조절 */
}

.modal-content table {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-content .calendar-container,
.modal-content .time-slot-container {
  margin-bottom: 10px; /* 예약 선택 항목과 닫기 버튼 사이의 간격 조절 */
}

.date-time-selection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 수정: 상단 정렬 */
  gap: 20px; /* 간격 조절 */
}

.time-slots {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.session {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.session h4 {
  margin-bottom: 10px;
}

.session .slot-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.session button {
  background: none;
  border: 1px solid #d9d9d9;
  color: #9D9D9D;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
  width: 100px;
}

.session button.selected {
  background-color: #14863e;
  color: white;
}

.session button:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.modal-content .close-button {
  align-self: center;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.modal-content .confirm-button,
.modal-content .finalize-button {
  align-self: center;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid #d9d9d9;
  color: #9d9d9d;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* 간격 조절 */
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.modal-content .finalize-button {
  margin-top: 10px; /* 추가 */
}

.modal-content .confirm-button:hover,
.modal-content .finalize-button:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

/* react-datepicker 커스터마이징 */
.react-datepicker {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.react-datepicker__header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.react-datepicker__current-month {
  font-size: 18px;
  margin-bottom: 10px;
}

.react-datepicker__day-name, .react-datepicker__day {
  width: 2.5rem;
  line-height: 2.5rem;
  margin: 0.166rem;
}

.react-datepicker__day--selected {
  background-color: #14863e;
  color: white;
}

.react-datepicker__day--keyboard-selected {
  background-color: #14863e;
  color: white;
}

.react-datepicker__day--today {
  font-weight: bold;
}

.react-datepicker__navigation--previous, .react-datepicker__navigation--next {
  top: 10px;
}

/* 검색된 회원의 항목에 마우스를 가져다댔을 때 밑줄 */
tbody tr:hover td {
  text-decoration: underline;
  cursor: pointer;
}

/* 변경가능 항목 선택 시 스타일 */
.active {
  background-color: #e0f7fa;
  cursor: pointer;
}

/* 변경불가 항목에 밑줄 없음 */
.status-complete {
  text-decoration: none !important;
  pointer-events: none;
}
