.sidebar {
  width: 350px;
  background-color: #262626;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0 20px 20px 0;
  overflow-y: auto;
}

.sidebar-logo {
  display: block;
  margin: 20px auto 20px auto;
  width: 50%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.sidebar ul li {
  margin: 30px 0;
  padding-left: 10px;
  cursor: pointer;
  position: relative;
}

.sidebar ul li ul.sub-menu {
  list-style: none;
  padding-left: 20px;
  display: none;
}

.sidebar ul li ul.sub-menu.open {
  display: block;
}

.sidebar ul li button,
.sub-menu li button {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, padding 0.3s;
}

.sidebar ul li button:hover,
.sidebar ul li button.active,
.sub-menu li button:hover,
.sub-menu li button.active {
  background-color: #555555;
  padding: 10px;
}

.sub-menu li button {
  color: #b0b0b0 !important;
  font-size: 20px !important;
  font-weight: normal !important;
}

.sub-menu li button.active {
  font-weight: bold;
  color: white !important;
}

.sidebar ul li.clickable {
  font-size: 24px;
  font-weight: bold;
}

.sidebar ul li.clickable button {
  position: relative;
  z-index: 1;
}

.sidebar ul li.clickable:hover > button,
.sidebar ul li.open > button,
.sidebar ul li.active > button {
  background-color: #555555;
  padding: 10px;
}
