.alerts {
  padding: 0 30px;
}

.alerts h1 {
  margin-bottom: 20px;
}

.alerts-header {
  display: flex;
  align-items: flex-start;
}

.status-sending {
  color: orange;
}

.status-sent {
  color: green;
}