.coupons {
  padding: 0 30px;
}

.coupons h1 {
  margin-bottom: 20px;
}

.coupons-header {
  display: flex;
  align-items: flex-start;
}

.benefit {
  color: #888;
}

.coupon-modal-body {
  display: flex;
  justify-content: space-between; /* 좌우로 정렬 */
  gap: 20px;
}

.coupon-modal-left,
.coupon-modal-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; /* 필드 간 간격 */
}

.coupon-modal-field {
  display: flex;
  flex-direction: column;
}

.coupon-modal-field label {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.coupon-modal-field input,
.coupon-modal-field select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.coupon-modal-field input {
  width: auto;
}

/* 라디오 버튼의 라벨 스타일 */
.radio-label {
  font-size: 16px !important; /* 원하는 폰트 크기 */
  font-weight: normal !important; /* Bold 제거 */
  display: inline-flex; /* 라벨과 라디오 버튼이 같은 줄에 있게 함 */
  align-items: center; /* 라디오 버튼과 라벨 텍스트를 수직으로 정렬 */
}

.radio-container {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  gap: 10px; /* 항목 간 간격 */
}

.quantity-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-field input[type="text"] {
  width: 150px; /* 가로 비율 줄이기 */
}

.specific-target-field {
  font-size: 14px; /* 폰트 크기 줄이기 */
}

.specific-target-field label {
  font-size: 14px; /* 폰트 크기 줄이기 */
  font-weight: normal;
}

.specific-target-field input {
  padding: 6px; /* 입력란의 패딩 조정 */
  font-size: 14px; /* 입력란의 폰트 크기 줄이기 */
}

.coupon-modal-actions {
  width: 100%;
  margin-top: 20px;
}

.coupon-code-field {
  display: flex;
  flex-direction: column;
}

.coupon-code-field select {
  margin-bottom: 10px;
}

.benefit-field {
  display: flex;
  flex-direction: column;
}

.benefit-field select {
  margin-bottom: 10px;
}