.faqs {
  padding: 0 30px;
}

.faqs h1 {
  margin-bottom: 20px;
}

.faqs-header {
  display: flex;
  align-items: flex-start;
}

/* FAQ Modal Styles */

.faq-modal-field {
  margin-bottom: 20px;
}

.faq-modal-field label {
  display: block;
  margin-bottom: 5px;

}

.faq-modal-field input,
.faq-modal-field select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.faq-modal-field input {
  font-size: 18px;
}