.main-layout {
  display: flex;
}

.main-content {
  margin-left: 260px; /* 사이드바 너비만큼 왼쪽 여백 설정 */
  padding: 20px;
  width: 100%;
  padding-top: 60px; /* 상단 바 높이만큼 패딩 추가 */
}

.top-bar {
  position: absolute; /* 상단 바를 절대 위치로 설정 */
  top: 10px;
  right: 20px; /* 화면 우측에 고정 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 370px); /* 사이드바 너비만큼 너비 설정 */
  background-color: transparent; /* 배경색 설정 */
  padding: 10px;
  z-index: 1000; /* 다른 요소보다 위에 표시 */
}

.top-bar span {
  margin-right: 10px;
  font-size: 14px;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 4px;
}

.top-bar button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;
}
