.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1000px; /* 가로 길이 고정 */
    max-height: 80%;
    position: relative;
    overflow-y: auto;
  }
  
  .modal-content::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
  }
  
  .modal-content::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 */
    border-radius: 4px; /* 스크롤바 모서리 둥글게 */
  }
  
  .modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 호버 상태의 스크롤바 색상 */
  }
  
  .modal-content::-webkit-scrollbar-track {
    background: #ffffff; /* 스크롤바 트랙 색상 */
    border-radius: 4px; /* 스크롤바 모서리 둥글게 */
  }
  

  .modal-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .modal-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%; /* 너비를 100%로 설정 */
  }