/* 기본 스타일 설정 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
}

.content {
  margin-left: 350px; /* 사이드바 너비만큼 왼쪽 여백 설정 */
  padding: 20px;
  width: calc(100% - 350px); /* 사이드바 너비를 제외한 나머지 너비 */
}
