* {
    box-sizing: border-box; /* 모든 요소에 box-sizing 설정 */
    margin: 0;
    padding: 0;
  }
  
  .Login {
    text-align: center;
  }
  
  .Login-logo {
    height: 20vh; /* 화면 높이에 맞춰 로고 크기 조정 */
    pointer-events: none;
    margin-bottom: 5vh; /* 화면 높이에 맞춰 마진 조정 */
  }
  
  .Login-header {
    background-color: #ffffff; /* 하얀 배경 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000000; /* 검은 텍스트 색상 */
  }
  
  .Login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* 부모 컨테이너의 너비를 80%로 설정 */
    max-width: 600px; /* 최대 너비 설정 */
  }
  
  .form-group {
    position: relative;
    margin-bottom: 2vh; /* 화면 높이에 맞춰 마진 조정 */
    width: 100%; /* 부모 컨테이너의 너비를 따름 */
  }
  
  input {
    padding: 1vh 20px; /* 화면 높이와 너비에 맞춰 패딩 조정 */
    font-size: 2vh; /* 화면 높이에 맞춰 폰트 크기 조정 */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* 부모 컨테이너의 너비를 따름 */
  }
  
  .form-label {
    position: absolute;
    top: 50%;
    left: 20px; /* 화면 너비에 맞춰 위치 조정 */
    transform: translateY(-50%);
    background: white;
    color: #aaa;
    font-size: 2vh; /* 화면 높이에 맞춰 폰트 크기 조정 */
    transition: all 0.2s;
    pointer-events: none;
  }
  
  input:focus + .form-label,
  .has-value .form-label {
    top: -1vh; /* 화면 높이에 맞춰 위치 조정 */
    left: 1vw; /* 화면 너비에 맞춰 위치 조정 */
    background: white;
    padding: 0 0.5vw; /* 화면 너비에 맞춰 패딩 조정 */
    font-size: 1.5vh; /* 화면 높이에 맞춰 폰트 크기 조정 */
    color: #000;
  }
  
  button {
    padding: 1vh 1vw; /* 화면 높이와 너비에 맞춰 패딩 조정 */
    font-size: 2vh; /* 화면 높이에 맞춰 폰트 크기 조정 */
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* 부모 컨테이너의 너비를 따름 */
  }
  
  button:hover {
    background-color: #333;
  }
  
  /* 미디어 쿼리를 사용하여 작은 화면에서 폰트 크기와 패딩 조정 */
  @media (max-width: 600px) {
    .Login-logo {
      height: 15vh;
      margin-bottom: 4vh;
    }
  
    .Login-form {
      width: 90%;
    }
  
    input, button {
      padding: 3vh 2vw;
      font-size: 3vh;
    }
  
    .form-label {
      font-size: 2.5vh;
    }
  
    input:focus + .form-label,
    .has-value .form-label {
      font-size: 2vh;
    }
  }
  