.text-button1 {
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap; /* 텍스트가 한 줄에 들어가도록 설정 */
    width: auto; /* 기본적으로 부모 컨테이너의 너비를 따름 */
}

.text-button1:hover {
    opacity: 0.8; /* 호버 효과 추가 */
}

.text-button2 {
    padding: 2px 6px; /* 버튼 크기 조정 */
    background-color: white;
    border: 1px solid;
    border-radius: 4px; /* 버튼 모서리 둥글게 */
    cursor: pointer;
    font-size: 14px; /* 글씨 크기 조정 */
    white-space: nowrap; /* 텍스트가 한 줄에 들어가도록 설정 */
    width: auto; /* 버튼 가로 길이 자동 */
}

.text-button2:hover {
    opacity: 0.8; /* 호버 효과 추가 */
}
